<div class="flex items-center mb-4">
  <%= i.label :song_title, "曲名", class: "mr-4" %>
  <%= i.text_field :song_title, class: "input input-bordered w-full max-w-xs" %>
  <div class="ml-4 btn btn-neutral">
    削除
  </div>
</div>