<div class="flex items-center mb-4" id="setlist_item_">
  <%= i.label :song_title, "曲名", class: "mr-4" %>
  <%= i.text_field :song_title, class: "input input-bordered w-full max-w-xs" %>
  <div class="ml-4 border-2 p-2 rounded-md" id="items_up_">
    <i class="fa-solid fa-arrow-up"></i>
  </div>
  <div class="ml-4 border-2 p-2 rounded-md" id="items_down_">
    <i class="fa-solid fa-arrow-down"></i>
  </div>
  <div class="ml-4 btn btn-neutral" id="remove_setlist_item_">
    削除
  </div>
</div>