<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="<%= setlists_path %>">Myapp</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a href="<%= setlists_path %>">Setlists</a>
      </li>
      <li>
        <a href="<%= new_example_path %>">New Example</a>
      </li>
    </ul>
  </div>
</div>