<div>
  <div class="mb-4">
    <h1 class="font-bold text-4xl">Examples#new</h1>
    <p>Find me in app/views/examples/new.html.erb</p>
  </div>

  <div class="mb-4">
    <button class="btn btn-primary" id="new-example">
      new
    </button>
  </div>

  <div id="examples-container" class="mb-4">
    <div id="example-" class="mb-4 flex items-center">
      <i class="fa-solid fa-thumbs-up fa-2x"></i>
      <button class="btn btn-error ml-4" id="delete-example-">
        delete
      </button>
    </div>
  </div>

  <div class="mb-4" id="sample-example-container" style="display: none;">
    <div id="sample-example-" class="mb-4 flex items-center">
      <i class="fa-solid fa-thumbs-up fa-2x"></i>
      <button class="btn btn-error ml-4" id="delete-example-">
        delete
      </button>
    </div>
  </div>
</div>
